<!DOCTYPE html>
 <html>
  <head>
   <title>HTML css-playground</title>
   <link rel="stylesheet" type="text/css" href="../css/Main.css">
   </head>
   <body>
      <h1>css items</h1>
   <h3>Uses</h3>
    <ul>
    	<li>To give the appearence of your site , a nuique look and feel.</li>
		<li>To alter colors , fonts, backgrounds, ects.</li>
		<li>To implement some effects and animations, although it's not as powerful as jquery?javascrit</li>
	</ul>
<hr>
	<h3>CSS Statements</h3>
	<p>Four main components of CSS statement</p>
	<ol>
		<li><b>Declaration:</b> The whole CSS statement in cruly braces.</li>
		<li><b>Property:</b>Properites to edit(e.g., Width,hegith, background, etc.)</li>
		<li><b>Value:</b>numbers, colors, urls - things to give value to the property.</li>
	</ol>
<hr>
<h3>Classes</h3>
<div class = "cat">Hello</div>
</body>
</html>